.dash-main {
    height: 100%;
    width: 100%;
}

.dash-main-content {
    margin-left: 200px;
    padding: 50px;
    height: 100%;
    padding-top: 25px;
}

.main-row {
    display: flex;
    justify-content: center;
}

.dash-container {
    padding: 10px;
}

.status-container, .chart-container, .table-container {
    background-color: white;
    border: 1px solid #cecece;
    margin: 10px;
    border-radius: 10px;
    min-height: 200px;
    max-height: 50vh;
    overflow-y: auto;
}

.table-container {
    max-height: none;
    flex-basis: 100%;
}

.chart-container {
    flex-basis: 50%;
}

.status-container {
    flex-basis: 50%;
    padding-left: 40px;
    padding-right: 40px;
}

.section-title {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

table.status, table.expenses {
    font-size: 18px;
    font-weight: 300;
}

table.status td {
    padding: 20px 5px;
}

.no-border-bottom {
    border-bottom: none;
}

.table-percentage {
    font-size: 12px;
    flex-grow: 1;
    text-align: right;
    position: relative;
    top: 4px;
}

.table-progress {
    display: flex;
    white-space: nowrap;
    align-items: flex-end;
}

.table-progress .progress {
    flex-basis: 75%;
    border-radius: 10px;
    height: 10px;
    margin: 0;
}

.progress .overBudget {
    background-color: #ff5555 !important;
}

.chart-container .no-data {
    text-align: center;
    margin-top: 50px;
}