.inputs-container {
    position: relative;
    top: 5vh;
    width: 50%;
    margin: 0 auto;
}

.submit-income-button, .submit-categories-button {
    float: right;
}

.back-to-income-button {
    display: inline-block;
}

.income .input-field, .categories .input-field {
    margin-top: 3em;
    margin-bottom: 3em;
}

.income-header, .categories-header {
    text-align: center;
    margin: 0;
}

.income-description, .categories-description {
    text-align: center;
}

.categories {
    padding-bottom: 50px;
}

.categories {
    display: none;
    opacity: 0;
}

.categories .collection {
    margin: 3em 0;
    font-weight: 300;
    margin-bottom: 10px;
    border-radius: 5px;
}

.income-remaining-container {
    white-space: nowrap;
}